body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* DASHBOARD PAGE */
#Earth {
    background-image: url("Images/Earth.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40em;
    width: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#Mars {
    background-image: url("Images/Mars.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40em;
    width: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@font-face {
    font-family: "Space";
    src: url("Fonts/SPACE.ttf") format("truetype");
}

a > .dashboard-header {
    color: white;
    text-decoration: none!important;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.dashboard-header {
    font-family: "Space";
    font-size: 56px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.dashboard-header:hover {
    color: lightgray;
    text-decoration: none;
}

/* APOD PAGE */
#apod-text {
    color: white;
}

#apod-image > img {
    
}