@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row text-center">
        <div id="Earth" class="col-xs-6">
            <a href="@Url.Action("Earth", "Home")"><h1 class="dashboard-header">Earth</h1></a>
        </div>
        <div id="Mars" class="col-xs-6">
            <a href="@Url.Action("Mars", "Home")"><h1 class="dashboard-header">Mars</h1></a>
        </div>
    </div>
    <div class="row text-center">
        <div id="APOD" class="col-xs-12">
            <a href="@Url.Action("APOD", "Home")"><h1 class="dashboard-header">APOD</h1></a>
        </div>
    </div>
</div>

