@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row text-center">
        <div id="Earth" class="col-xs-6">
            <h1 class="dashboard-header">Earth</h1>
        </div>
        <div id="Mars" class="col-xs-6">
            <h1 class="dashboard-header">Mars</h1>
        </div>
    </div>
</div>

